* {
  all: unset; //Unsets everything so you can style everything from scratch
}


//Global Styles
.main-bar-left {
  //background-image: url("/home/linus/.config/qtile/img/background.jpg");
  //background-color: transparent;
  background-color: #0f0f17;
  border: solid #312a57 2px;
  color: #b0b4bc;
  border-radius: 16px;
  font-size: large;
  padding-right: 10px;
}

.main-bar-center {
  //background-image: url("/home/linus/.config/qtile/img/background.jpg");
  //background-color: transparent;
  background-color: #0f0f17;
  border: solid #312a57 2px;
  color: #b0b4bc;
  border-radius: 16px;
  font-size: large;
  padding-left: 10px;
  padding-right: 10px;
}

.main-bar-right {
  //background-image: url("/home/linus/.config/qtile/img/background.jpg");
  //background-color: transparent;
  background-color: #0f0f17;
  border: solid #312a57 2px;
  color: #b0b4bc;
  border-radius: 16px;
  font-size: large;
  padding-left: 10px;
}

.main-bar-background {
  //background-image: url("/home/linus/.config/qtile/img/background.jpg");
  background-color: #0f0f17;
  color: #b0b4bc;
  border-radius: 16px;
  font-size: large;
}

.transparent {
  background-color: transparent;
}



.metric scale trough highlight {
  all: unset;
  background-color: #537ace;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 6px;
  min-width: 50px;
  margin-left: 3px;
  margin-right: 3px;
}

.metric-v scale trough highlight {
  all: unset;
  color: #000000;
  border-radius: 10px;
}

.metric-v scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-width: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.ram-module .metric-v scale trough highlight{
  background-color: #1e9131;
}

.disk-module .metric-v scale trough highlight{
  background-color: #7f0fda;
}

.bat-module .metric-v scale trough highlight{
  background-color: #afbea2;
}

.bat-module button:hover, .disk-module button:hover, .ram-module button:hover{
  color:#ffffff;
}


.module-wifi_box{
  margin-right: 5px;
}

.volume-module button {
  margin-right: 5px;
}


.time-module box {
  margin-right: 10px;
}

.workspaces button:hover, .volume-module button:hover {
  color: #ffffff;
}

.module-wifi:hover .module-wifi_box {
  color: #ffffff;
}

.module_essid:hover {
  color: #ffffff;
}
.module_essid {
  color: #a1bdce;
}

.workspaces {
  padding-left: 10px;
  background-color: transparent;
}

.workspaces button {
  background-color: transparent;
}


/* Unoccupied */
.workspace {
  color: #3e424f;
  background-color: transparent;
}
  
.workspace_occupied {
  color: #bfc9db;
  background-color: transparent;
}

.workspace_focussed {
  color: #a1bdce;
  background-color: transparent;
}


.calendar_box {
  background-color: #0f0f17;
  border-radius: 16px;
  border: solid #7c7c7c 1px;
}


// Calendar
.cal {

  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;

  

.cal-in {
    padding: 0px 10px 0px 10px;
    color: #bfc9db;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: #bfc9db;
    
}
calendar:selected {
  color: #a1bdce;
}

calendar.header {
color: #a1bdce;
font-weight: bold;
}

calendar.button {
color: #afbea2;
}

calendar.highlight {
color: #a1bdce;
font-weight: bold;
}

calendar:indeterminate {
color: #bfc9db;
}

.clock_date_class {
  font-family: monospace;
  color: white;
  padding-left: 5px;
  padding-top: 1px;
  font-size: large;
}

//System


.css_system_seperator {
  color: #38384d;
  font-size: 18;
  margin: 0px 10px 0px 10px;
}

.css_system_popup_top_text {
  font-size: 21;
  font-weight: bold;
  margin: 14px 0px 0px 25px;
}

.css_system_popup_bottom_text {
  font-size: 16;
  color: #bbc5d7;
  margin: 5px 0px 0px 25px;
}


.css_system_popup_icon {
  margin: 30px;
  font: 30px "Nerd Font Mono";
}


.css_system_popup_main {
  background-color: #0f0f17;
  border-radius: 16px;
  border: solid #7c7c7c 1px;
}
.css_system_popup_circle {
  background-color: #38384d;
  border-radius: 10px;
}

.css_system_popup_battery {
  color: #afbea2;
}
.css_system_popup_memory {
  color: #77e06d;
}
.css_system_popup_disk {
  color: #b76cda;
}



.css_system_popup_section_box {
  border-radius: 16px;
  margin: 15px 15px 15px 20px;
}

.css_battery_warning_box {
  background-color: #0f0f17;
  border-radius: 16px;
  border: solid #afbea2 1px;
}

.css_battery_warning_icon_box {
  padding-top: 20px;
}

.css_battery_warning_icon {
  margin: 50px;
}

.css_battery_warning_text_box{
  margin-top: 50px;
  padding: 10px;
  font-size: x-large;
  border: solid #afbea2 2px;
  border-radius: 16px;
}

